In [ ]:
import numpy as np
import pandas as pd
!pip install --quiet scann
from sklearn import preprocessing
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
import scann

In [ ]:
# selected_col=['age' ,'overall','potential','international_reputation',	'skill_moves' ,'weak_foot','nation_jersey_number',	'pace' ,'shooting' ,'passing' ,'dribbling','defending',	'physic' ,'gk_diving' ,'gk_handling' ,'gk_kicking','gk_reflexes' ,'gk_speed',	'gk_positioning' ,'attacking_crossing',	'attacking_finishing' ,'attacking_heading_accuracy' ,'attacking_short_passing' ,'attacking_volleys' ,'skill_dribbling',	'skill_curve' ,'skill_fk_accuracy' ,'skill_long_passing'	,'skill_ball_control' ,'movement_acceleration','movement_sprint_speed',	'movement_agility',	'movement_reactions' ,'movement_balance',	'power_shot_power' ,'power_jumping',	'power_stamina'	,'power_strength' ,'power_long_shots' ,'mentality_aggression' ,'mentality_interceptions',	'mentality_positioning' ,'mentality_vision' ,	'mentality_penalties' ,'mentality_composure','defending_marking' ,'defending_standing_tackle' ,'defending_sliding_tackle',	'goalkeeping_diving' 	,'goalkeeping_handling' ,'goalkeeping_kicking' ,'goalkeeping_positioning' ,'goalkeeping_reflexes' ,'ls' ,'st' ,'rs' ,'lw','lf' ,'cf' ,'rf' ,'rw' ,'lam' ,'cam','ram' ,'lm' ,'lcm' ,'cm' ,'rcm','rm' ,'lwb','ldm' ,'cdm' ,'rdm' ,'rwb','lb','lcb','cb' ,'rcb','rb']
selected_col=['short_name','age' ,'overall','potential','international_reputation',	'skill_moves' ,'weak_foot','nation_jersey_number','pace',
              'shooting','passing','dribbling']# 'dribbling','defending',	'physic' ,'gk_diving' ,'gk_handling' ,'gk_kicking','gk_reflexes' ,'gk_speed',	'gk_positioning' ,'attacking_crossing',	'attacking_finishing' ,'attacking_heading_accuracy' ,'attacking_short_passing' ,'attacking_volleys' ,'skill_dribbling',	'skill_curve' ,'skill_fk_accuracy' ,'skill_long_passing'	,'skill_ball_control' ,'movement_acceleration','movement_sprint_speed',	'movement_agility',	'movement_reactions' ,'movement_balance',	'power_shot_power' ,'power_jumping',	'power_stamina'	,'power_strength' ,'power_long_shots' ,'mentality_aggression' ,'mentality_interceptions',	'mentality_positioning' ,'mentality_vision' ,	'mentality_penalties' ,'mentality_composure','defending_marking' ,'defending_standing_tackle' ,'defending_sliding_tackle',	'goalkeeping_diving' 	,'goalkeeping_handling' ,'goalkeeping_kicking' ,'goalkeeping_positioning' ,'goalkeeping_reflexes' ,'ls' ,'st' ,'rs' ,'lw','lf' ,'cf' ,'rf' ,'rw' ,'lam' ,'cam','ram' ,'lm' ,'lcm' ,'cm' ,'rcm','rm' ,'lwb','ldm' ,'cdm' ,'rdm' ,'rwb','lb','lcb','cb' ,'rcb','rb']

In [ ]:
url = 'https://raw.githubusercontent.com/malinphy/datasets/main/fifa/players_15.csv'
df = pd.read_csv(url, 
                 usecols = selected_col
                 ).dropna(axis=0)

In [ ]:
df

,short_name,age,overall,potential,international_reputation,weak_foot,skill_moves,nation_jersey_number,pace,shooting,passing,dribbling
0,L. Messi,27,93,95,5,3,4,10.0,93.0,89.0,86.0,96.0
1,Cristiano Ronaldo,29,92,92,5,4,5,7.0,93.0,93.0,81.0,91.0
2,A. Robben,30,90,90,5,2,4,11.0,93.0,86.0,83.0,92.0
3,Z. IbrahimoviÄ‡,32,90,90,5,4,4,10.0,76.0,91.0,81.0,86.0
6,E. Hazard,23,88,90,4,4,4,10.0,90.0,82.0,84.0,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...
14283,S. Rahim Nabi,28,54,54,1,3,3,5.0,71.0,47.0,43.0,57.0
14489,S. Pradhan,24,53,58,1,3,2,17.0,62.0,45.0,57.0,53.0
14770,J. Stevens,19,52,56,1,3,2,14.0,69.0,46.0,50.0,52.0
14772,R. Lamare,27,52,55,1,3,2,19.0,65.0,51.0,53.0,51.0
14982,D. Bejarano,22,51,54,1,2,2,4.0,64.0,37.0,39.0,48.0

In [ ]:
df_np = preprocessing.normalize(df.iloc[:,1:-1])

In [ ]:
df.iloc[:,1:-1]

,age,overall,potential,international_reputation,weak_foot,skill_moves,nation_jersey_number,pace,shooting,passing
0,27,93,95,5,3,4,10.0,93.0,89.0,86.0
1,29,92,92,5,4,5,7.0,93.0,93.0,81.0
2,30,90,90,5,2,4,11.0,93.0,86.0,83.0
3,32,90,90,5,4,4,10.0,76.0,91.0,81.0
6,23,88,90,4,4,4,10.0,90.0,82.0,84.0
...,...,...,...,...,...,...,...,...,...,...
14283,28,54,54,1,3,3,5.0,71.0,47.0,43.0
14489,24,53,58,1,3,2,17.0,62.0,45.0,57.0
14770,19,52,56,1,3,2,14.0,69.0,46.0,50.0
14772,27,52,55,1,3,2,19.0,65.0,51.0,53.0
14982,22,51,54,1,2,2,4.0,64.0,37.0,39.0

In [ ]:
df_np.shape

(918, 10)

In [ ]:
df.shape

(918, 12)

In [ ]:
k = int(np.sqrt(df_np.shape[0]))

In [ ]:
searcher = scann.scann_ops_pybind.builder(df_np, 10, "dot_product").tree(
    num_leaves=k, num_leaves_to_search=int(k/20), training_sample_size=2500).score_brute_force(2).reorder(7).build()

# querying the searcher

In [ ]:
df[df.short_name == 'A. Robben']

,short_name,age,overall,potential,international_reputation,weak_foot,skill_moves,nation_jersey_number,pace,shooting,passing,dribbling
2,A. Robben,30,90,90,5,2,4,11.0,93.0,86.0,83.0,92.0

In [ ]:
df[df.short_name == 'A. Robben']

,short_name,age,overall,potential,international_reputation,weak_foot,skill_moves,nation_jersey_number,pace,shooting,passing,dribbling
2,A. Robben,30,90,90,5,2,4,11.0,93.0,86.0,83.0,92.0

In [ ]:
df_q = df[df.short_name == 'A. Robben']
df_q

,short_name,age,overall,potential,international_reputation,weak_foot,skill_moves,nation_jersey_number,pace,shooting,passing,dribbling
2,A. Robben,30,90,90,5,2,4,11.0,93.0,86.0,83.0,92.0

In [ ]:
np_q = preprocessing.normalize(df_q.iloc[:,1:-1])

In [ ]:
neighbors, distances = searcher.search(np_q[0], final_num_neighbors=20)

In [ ]:
q_df = df.iloc[neighbors, :]

In [ ]:
q_df.index = q_df['short_name']

In [ ]:
q_df['distance'] = list(distances)
q_df['distance']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

short_name
A. Robben            1.000000
Vieirinha            0.999734
M. ErdinÃ§            0.999668
J. FarfÃ¡n            0.999658
S. Kalou             0.999635
O. Åžahan             0.999630
M. Harnik            0.999590
K. Mirallas          0.999498
S. Naismith          0.999475
B. DzsudzsÃ¡k         0.999469
M. FabiÃ¡n            0.999396
A. Kokorin           0.999390
Ã‰der                 0.999344
K. Benzema           0.999344
A. Kerzhakov         0.999340
E. Choupo-Moting     0.999277
V. PilaÅ™             0.999200
A. SchÃ¼rrle          0.999191
Cristiano Ronaldo    0.999164
O. Martenosa         0.999150
Name: distance, dtype: float32

In [ ]:
sim_score = []
for x in df_np:
    sim_score.append(
        cosine_similarity(x.reshape(-1, 1), np_q.reshape(-1, 1)).mean())

In [ ]:
df['distance'] = sim_score

In [ ]:
df_sort = df.sort_values(by=['distance'], ascending=False)

In [ ]:
df_sort.index = df_sort['short_name']

In [ ]:
df_sort['distance'].head(10)

short_name
L. Messi        1.0
J. Toivio       1.0
A. SÃ¸derlund    1.0
H. Ayala        1.0
M. Ponce        1.0
O. Martenosa    1.0
M. Bresciano    1.0
A. Reid         1.0
S. Whittaker    1.0
R. WÃ¼rtz        1.0
Name: distance, dtype: float64